<template>
	
	<v-container>
		<h1>Вкладка №3</h1>
		<v-row class="pt-8">
			<v-col class="d-flex">
				<v-btn @click="store.$state.counters[2]--" color="primary">−</v-btn>
				<h1 class="pt-2 px-8">{{ store.$state.counters[2] }}</h1>
				<v-btn @click="store.$state.counters[2]++" color="primary">+</v-btn>
			</v-col>
		</v-row>
	</v-container>
</template>

<script lang="ts" setup>
import { useAppStore } from '@/store/app';
const store = useAppStore();
</script>