<template>
	<v-app>
		<v-main>
			<v-container>
				<v-card>
					<v-toolbar>
						<v-tabs v-model="tab">
							<template v-for="(tab, index) in tabs" :key="tab.component">
								<v-tab link :to="tab.to" :disabled="tab.disabled" color="primary">
									Вкладка №{{ tab.name }}
								</v-tab>
								<v-btn v-if="tab.disabled" @click="recoverTab(index)" icon="mdi-refresh" size="small" variant="text" class="mt-3 mr-3"></v-btn>
								<v-btn v-else @click="closeTab(index)" icon="mdi-close" size="small" variant="text"  class="mt-3"></v-btn>
							</template>
						</v-tabs>
					</v-toolbar>
					<v-card-text>
						<v-window v-if="!someTabsWorks">
							<v-container>
								<h1>Все вкладки закрыты. Восстановить?</h1>
								<v-btn @click="recoverAllTabs" color="primary" class="mt-8">Восстановить все вкладки</v-btn>
							</v-container>
						</v-window>
						<v-window v-else-if="!currentDisabled">
							<router-view />
						</v-window>
						<v-window v-else>
							<v-container>
								<h1>Данная вкладка закрыта. Восстановить?</h1>
								<v-btn @click="recoverCurrentTab" color="primary" class="mt-8">Восстановить</v-btn>
							</v-container>
						</v-window>
					</v-card-text>
				</v-card>
			</v-container>
		</v-main>
	</v-app>
</template>

<script lang="ts" setup>

import { computed, ref } from 'vue';
import { useAppStore } from './store/app';

const store = useAppStore();
const tab = ref(0);

const tabs = ref([
	{
		to: '/one',
		name: '1',
		component: 'One',
		disabled: false
	},
	{
		to: '/two',
		name: '2',
		component: 'Two',
		disabled: false
	},
	{
		to: '/three',
		name: '3',
		component: 'Three',
		disabled: false
	},
]);

const closeTab = (index: number) => {
	tabs.value[index].disabled = true;
	store.counters[index] = 0;
}

const recoverTab = (index: number) => {
	tabs.value[index].disabled = false;
}

const recoverCurrentTab = () => {
	tabs.value[tab.value].disabled = false;
}

const recoverAllTabs = () => {
	tabs.value.forEach((item)=> {
		item.disabled = false;
	})
}

const someTabsWorks = computed(() => tabs.value.some(x => x.disabled === false));
const currentDisabled = computed(() => tabs.value[tab.value].disabled === true);

</script>
